* {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat";
}

body {
    text-align: center;
    align-items: center;
}

div {
    background-color: #2c67a5;
    height: 50px;
}

table, tr, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

img {
    width: 50%;
}
